@font-face {
    font-family: Poiret; 
    src: url(../fonts/Poiret.ttf); 
}

@font-face {
    font-family: Roboto; 
    src: url(../fonts/Roboto-light.ttf); 
}
@font-face {
    font-family: Opensans; 
    src: url(../fonts/open.ttf); 
}
@font-face {
    font-family: sanslight; 
    src: url(../fonts/sanslight.ttf); 
}