@import 'reset';
@import 'normalize';
@import 'fonts';
@import 'var';

*,*:before,*:after{
    box-sizing: border-box;
}


/* abbr main block names
fst - first block
snd - second block
trd - third block
frth - fourth block
fth - fifth block
sth - sixth block
sev - seventh block
eth - eighth block
*/

.fst-wrap{
    width:100%;
    min-height:100vh;
    background: linear-gradient(to top, #fef2f3,#f1d6dd);
    position:relative;
}
.fst-bg{
    width:100%;
    height:100%;
    position:absolute;
    top:0; left:0;
    bottom:0; right:0;
    z-index:1;
    overflow:hidden;
}
.bubbles{
    position:absolute;
    top:0; left:0;
    width:100%;
    height:100%;
    &__item{
        position:absolute;
        bottom:-150px;
        display:block;
        width:60px;
        height:60px;    
        background:#edd7d9;
        animation: animate-bg 25s linear infinite;
    }
    &__item:nth-child(1){
        left:20%;
        width:100px;
        height:100px;
        animation-delay:1s;
        animation-duration:12s;
    }
    &__item:nth-child(2){
        left:20%;
        width:40px;
        height:40px;
        animation-delay:14s;
    }
    &__item:nth-child(3){
        left:40%;
        width:50px;
        height:50px;
        animation-delay:6s;
        animation-duration:18s;
    }
    &__item:nth-child(4){
        left:32%;
        width:80px;
        height:80px;
        animation-delay:8s;
    }
    &__item:nth-child(5){
        left:55%;
        width:110px;
        height:110px;
        animation-delay:2s;
        animation-duration:14s;
    }
    &__item:nth-child(6){
        left:75%;
        width:70px;
        height:70px;
        animation-delay:16s;
        animation-duration:12s;
    }
    &__item:nth-child(7){
        left:95%;
        width:30px;
        height:30px;
        animation-delay:9s;
    }
    &__item:nth-child(8){
        left:37%;
        width:50px;
        height:50px;
        animation-delay:3s;
        animation-duration:16s;
    }
    &__item:nth-child(9){
        left:15%;
        width:70px;
        height:70px;
        animation-delay:5s;
        animation-duration:10s;
    }
    &__item:nth-child(10){
        left:64%;
        width:40px;
        height:40px;
        animation-delay:2s;
        animation-duration:10s;
    }
}
@keyframes animate-bg {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity:1;
        border-radius:0;
    }
    100%{
        transform:translateY(-1000px) rotate(720deg);
        opacity:0;
        border-radius:30%;
    }
}

.fst-content{
    position:absolute;
    top:0; left:0;
    bottom:0; right:0;
    z-index:2;
}
.logo{
    display:block;
    width:80px;
    height:80px;
    background:url('../imgs/LOGO.png');
    background-size:cover;
}
.nav{
    width:100%;
    height:100px;
    position:fixed;
    top:0; left:0;
    z-index:100;
    background: linear-gradient(to top, #f2d9df,#f1d6dd);
    display:flex;
    justify-content: center;
    align-items: center;
    &__link{
        margin:0 10px;
        width:120px;
        padding:10px;
        text-decoration:none;
        font-family:$roboto;
        text-transform: uppercase;
        font-size:17px;
        color:$text-color;
        text-align:center;
        font-weight:400;
        position:relative;
        z-index:2;
    }
    &__link:before{
        content:'';
        position:absolute;
        z-index:-1;
        background:#fff;
        top:0;left:0;
        width:100%;
        height:100%;
        clip-path:polygon(0 0, 100% 0, 94% 100%, 5% 85%);
        display:none;
    }
    &__link:after{
        content:'';
        position:absolute;
        z-index:-2;
        background:#e8ccce;
        top:7px; left:10px;
        width:100%;
        height:100%;
        clip-path:polygon(0 0, 100% 0, 94% 100%, 5% 85%);
        display:none;
    }
}
.nav__link:hover:before, 
.nav__link:hover:after{
    display:block;
}
.fst-title-box{
    position:absolute;
    top:0; left:0;  
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.fst-title-box-content{
    position:relative;
    width:350px;
    height:350px;
    border:7px solid #fff;
    box-shadow: 0 0 50px 25px rgba(107, 70, 27,.14),
                inset 0 0 50px 25px rgba(107, 70, 27,.14);
}
.fst-title{
    font-family:$poiret;
    font-size:76px;
    color: #fff;
    text-transform:uppercase;
    padding:30px 0 0 20px;
}
.fst-subtitle{
    margin:20px 0 0 -40px;
    &__item{
        font-family:$roboto;
        font-size:32px;
        color:$text-color;
        text-transform:uppercase;
        padding: 10px 0;
    }
}
.adres-box-under{
    position:absolute;
    bottom:-40px;
    right:-100px;
    width:170px;
    height:70px;
    background:#fff;
}
.adres-box{
    position:absolute;
    bottom:-40px;
    right:-100px;
    width:170px;
    height:70px;    
    z-index:2;
    clip-path:polygon(0 0, 95% 12%, 100% 100%, 0 100%);
    font-size:20px;
    font-family:$sanslight;
    font-weight:100;
    line-height:25px;
    display:flex;
    justify-content: center;
    align-items:center;
    background:#e8ccce;
    color:#fff;
}

//snd
.snd-wrap{
    width:100%;
    min-height:100vh;
    background:#fff;
    display:flex;
    justify-content: center;
    align-items:center;
}
.snd-container{
    width:50%;
    height:70vh;
    background:#fef2f3;
    position:relative;
}
.snd-container:before,
.snd-container:after{
    font-family:$poiret;
    font-size:110px;
    text-transform: uppercase;
    position:absolute;
}
.snd-container:before{
    content:'body';
    color:rgba(0,0,0,.3);
    top:-50px; left:40px;
    z-index:2;
}
.snd-container:after{
    content:'skin';
    bottom:-15px; right:60px;
    color:#ded2d2;
}
.snd-content{
    position:absolute;
    top:20px; left:20px;
    bottom:20px; right:20px;
    background-image:url('../imgs/about.jpg');
    background-size:cover;
}
.snd-info-blc{
    width:100%;
    height:100%;
    background:#fef2f3;
    display:flex;
    justify-content: center;
    align-items:center;
}
.snd-info-box{
    width:95%;
    height:72%;
    border:6px solid #fff;
    position:relative;
    padding-top:50px;
    &__title{
        display:inline-block;
        font-family:$poiret;
        font-size:32px;
        text-transform:uppercase;
        background:#fef2f3;
        position:absolute;
        top:-20px;
        left:50%;
        transform: translateX(-50%);
    }
    &__description{
        font-family:$sanslight;
        font-style:italic;
        font-size:18px;
        line-height:30px;
        padding:20px;
    }
}
 

//trd
.trd-wrap{
    width:100%;
    height:100px;
    background:#bfd0d7;
    display:flex;
    justify-content: center;
    align-items:center;
}
.trd-content{
    width:50%;
    background:#fef2f3;
    clip-path:polygon(3% 0%, 100% 0%, 97% 100%, 0% 96%);
    padding:20px 40px 30px 70px;
    position:relative;
    top:-20px;
    z-index:2;
    &__text{
        font-family:$sanslight;
        font-size:24px;
        line-height: 30px;
    }
    &__subtitle{
        position:absolute;
        bottom:15px;
        right:130px;
        font-family:$sanslight;
        font-style:italic;
        font-size: 18px;
    }
}


//frth
.frth-wrap{
    width:100%;
    min-height:800px;
    position:relative;
}
.slide{
    width:50%;
    margin:120px auto;
    height:450px;
    position:relative;
    &__corner-decor{
        font-family:$poiret;
        font-size:90px;
        color:#c0cace5b;
        text-transform:uppercase;
        position:absolute;
        top:-58px; right:10px;
    }
    &__corner-decor:before{
        content:'service';
        font-family:$poiret;
        font-size:90px;
        color:#bfd0d7;
        text-transform:uppercase;
        position:absolute;
        top:-3px; right:8px;
        z-index:10;
    }
    &__border{
        width:80%;
        height:100%;
        border:4px solid #000;
        position:absolute;
        top:0; right:0;
    }
}

.slide-content{
    display:flex;
    position:absolute;
    top:40px;
    &__photo{
        width:40%;
        height:270px;
        background-size:cover;
    } 
}
.photo-first{
    background-image:url('../imgs/slide1.jpg');
}
.photo-second{
    background-image:url('../imgs/slide2.jpeg');
}
.photo-third{
    background-image:url('../imgs/slide3.png');
}
.photo-fourth{
    background-image:url('../imgs/slide4.jpg');
}
.photo-fifth{
    background-image:url('../imgs/slide5.jpg');
}
.slide-info{
    width:60%;
    padding:0 20px 10px;
    &__title{
        font-family:$poiret;
        font-size:44px;
        padding-bottom:20px;
    }
    &__description{
        width:100%;
        height:180px;
        font-family:$sanslight;
        font-size:18px;
        line-height:30px;
    }
}
.slide-info-list{
    list-style-type: circle;
    padding:20px 0 0 20px;
    &__item{
        font-family:$sanslight;
        font-size:16px;
        line-height:25px;
    }
}
.slide-btn{
    width:140px;
    padding:5px 10px 10px;
    text-decoration:none;
    font-family:$roboto;
    text-transform: uppercase;
    font-size:17px;
    color:$text-color;
    text-align:center;
    font-weight:400;
    position:absolute;
    bottom:60px; right:100px;
}
.slide-btn:before{
    content:'';
    position:absolute;
    z-index:-1;
    background:#f1d6dd;
    top:0;left:0;
    width:100%;
    height:100%;
    clip-path:polygon(0 0, 100% 0, 94% 100%, 5% 85%);
}
.slide-btn:after{
    content:'';
    position:absolute;
    z-index:-2;
    background:#f3e5e6;
    top:7px; left:10px;
    width:100%;
    height:100%;
    clip-path:polygon(0 0, 100% 0, 94% 100%, 5% 85%);
}
.slide-number{
    font-family:$poiret;
    font-size:110px;
    color:#bfd0d7;
    position:absolute;
    bottom:-100px;
    left:-60px;
}
.slide-number-under{
    font-family:$poiret;
    font-size:110px;
    color:#c0d2da85;
    position:absolute;
    bottom:-102px;
    left:-52px;
}
.slider-nav{
    width:48%;
    height:100px;
    background:rgba(255,255,255,.6);
    position:absolute;
    bottom:100px;
    left:32%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    z-index:5;
    &__link{
        font-family:$roboto;
        font-size:18px;
        text-decoration:none;
        color:#000;
        transition:.3s;
        padding:0 10px;
    }
    &__link:hover{
        transition:.2s;
        color:#bfd0d7;;
    }
}

//fth
.fth-wrap{
    width:100%;
    height:100px;
    background:#bfd0d7;
    display:flex;
    justify-content: center;
    align-items:center;
    &__link{
        text-decoration:none;
        color:#fff;
        font-family:$roboto;
        font-size:32px;
        transition:.2s;
        &_underline{
            text-decoration:underline;
        }
    }
    &__link:hover{
        color:#f1d6dd;
        transition:.2s;
    }
}

//sth
.sth-wrap{
    width:100%;
    min-height:700px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.sth-container{
    width:1000px;
    height:400px;
    display:flex;
    justify-content: center;
    position:relative;
}
.sth-left-inner{
    width:600px;
    height:100%;
    background-image:url('../imgs/price-img.jpg');
    position:absolute;
    top:0; 
    left:0;
}
.sth-right-inner{
    width:500px;
    height:100%;
    background:#bfd0d7;
    position:absolute;
    top:50px;
    right:0px;   
    padding:40px;
}
.sth-price-row{
    font-family:$roboto;
    font-size:24px;
    color:#fff;
    display:flex;
    justify-content: space-between;
    padding:10px 10px 10px 0;
    text-transform: uppercase;
}
.sth-price-decor{
    font-family:$poiret;
    font-size:90px;
    color:#c0cace5b;
    text-transform:uppercase;
    position:absolute;
    top:-60px; right:160px;
}
.sth-price-decor:before{
    content:"price";
    font-family:$poiret;
    font-size:90px;
    color:#bfd0d7;
    text-transform:uppercase;
    position:absolute;
    top:-4px;
    right:4px;
}
//sev
.sev-wrap{
    width:100%;
    min-height:800px;
    background:linear-gradient(to top, #e1e8ec,#fef1f3);
    position:relative;
    z-index:-2;
}
.sev-title{
    font-family:$poiret;
    text-transform: uppercase;
    font-size:42px;
    text-align:center;
    padding:50px 0;
}
.sev-content{
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.sev-master-box{
    width:25%;
}
.sev-master{
    padding:1px;
    width:300px;
    background:#fff;
    box-shadow:0 0 15px rgba(107, 70, 27,.14);
    display:flex;
    justify-content: center;
    align-items:center;
    flex-wrap:wrap;
    position:relative;
    &__photo{
        width:200px;
        height:200px;   
        margin:20px;
        border-radius:50%;
        background-image:url('../imgs/contacts.jpg');
        background-position:1px -30px;
    }
    &__name{
        text-align:center;
        font-family:$roboto;
        font-size:20px;
    }
    &__profession{
        display:inline-block;
        width:60%;
        background:#e8ccce;
        padding:7px;
        margin:20px;
        text-align:center;
        font-family:$roboto;
        color:#fff;
        font-size:20px;
    }
    &__description{
        width:100%;
        text-align:center;
        font-family:$roboto;
        font-size:16px;
        padding:0 15px 20px;
        line-height:20px;
    }
    &__icon{
        width:20px;
        height:20px;
        display:inline-block;
        background-image:url('../imgs/phone.png');
        background-size:cover;
        position:relative;
        top:4px; right:5px;
    }
    &__phone{
        text-align:center;
        font-family:$roboto;
        font-size:18px;
    }
}
.sev-master:after{
    content:'';
    display:block;
    width:50px;
    height:30px;
    background:#bfd0d7;
    position:absolute;
    top:30px;
    left:-30px;
}
.sev-master-icons{
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
    padding:20px 0;
    &__fb{
        width:30px;
        height:30px;
        background-image:url('../imgs/facebook.png');
        background-size:cover;
    }
    &__inst{
        width:30px;
        height:30px;
        background-image:url('../imgs/instagram.png');
        background-size:cover;
    }
}
.sev-map{
    width:25%;
    height:575px;
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    &__frame{
        width:80%;
        height:84%;
        box-shadow:0 0 15px rgba(107, 70, 27,.14);
    }
    &__adres{
        width:90%;
        height:50px;
        display:flex;
        justify-content: center;
        align-items:center;
        font-family:$roboto;
        font-size:30px;
        background:#f1d6dd;
        position:relative;
        margin:40px auto;
    }
    &__adres:before{
        content:'';
        display:block;
        width:100%;
        height:50px;
        background:#e5dde0;
        position:absolute;
        z-index:-1;
        top:10px; left:10px;
    }
}

//footer
.footer-wrap{
    width:100%;
    background:#bfd0d7;
    display:flex;
    justify-content: center;
    align-items: center;
}
.footer-logo-box{
    width:80px;
    height:80px;
    margin-right:40px;
}
.footer-logo{
    width:100%;
    height:auto;
}
.footer-left-box{
    width:25%;
    padding:40px 0;
    &__title{
        font-family:$sanslight;
        font-size:18px;
        padding-bottom:20px;
    }
    &__link{
        text-decoration:none;
        font-family:$roboto;
        font-size:16px;
        display:block;
        width:100px;
        padding:3px 0;
        color:#000;
        transition:.3s;
    }
    &__link:hover{
        transition:.3s;
        transform:scale(1.1);
    }
}
.footer-right-box{
    width:25%;
    &__contacts{
        font-family:$sanslight;
        font-size:18px;
        padding-left:10%;
        line-height:25px;
    }
}


//popup
.popup-box{
    position:fixed;
    top:100px;
    left:200px;
    bottom:50px;
    right:200px;
    background:#fff;
    padding:50px 100px;
    z-index:10;
    overflow:scroll;
    overflow-x:hidden;
}
.popup-title{
    width:100%;
    font-family:$poiret;
    font-size:72px;
    color:#d0c1c1;
    text-align:right;
    padding-bottom:20px;
}
.popup-container{
    width:100%;
    display:flex;
    justify-content: center;
}
.photo-section{
    width:40%;
    height:300px;
}
.content-section{
    width:60%;
    padding-left:40px;
}
.popup-description{
    font-family:$sanslight;
    font-size:16px;
    line-height:24px;
    &__padding-top{
        padding-top:20px;
    }
}
.popup-list-item{
    list-style-type:circle;
    text-indent: 5px;
    position:relative;
    left:20px;
}
.padding-top{
    padding-top:40px;
}
.text-indent{
    text-indent:20px;
}
.popup-rf{
    width:100%;
    height:auto;
}

//scroolbar
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-thumb{
   width:10px;
   height:20px;
   border-radius:10px;
   background:#b8b8b8;
   box-shadow:inset 0 0 5px #000;
}
::-webkit-scrollbar-track{
    box-shadow:inset 0 0 5px #000;
}

//fixes
.empty-space-fix{
    width:10px;
}
.text-cutter{
    width:100%;
    height:215px;
    overflow:hidden;
    &_min{
        height:185px;
    }
}
.m-popup-box:after{
    content:"Пожалуйста, поверните телефон чтобы активировался альбомный режим просмотра страницы";
    display:none;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#fff;
    z-index:100;
    font-family:$sanslight;
    font-size:24px;
    padding:0 10px;
    line-height:30px;
}

//media
@media (min-width:1400px) and (max-width:1600px){
    .snd-container,
    .trd-content,
    .slide{
        width:68%;
    }
    .slider-nav{
        width:40%;
        left:35%;
    }
    .sev-map{
        width:40%;
    }
}
@media (min-width:1200px) and (max-width:1399px){
    .snd-container,
    .trd-content,
    .slide{
        width:78%;
    }
    .sev-map{
        width:43%;
        padding-left:50px;
    }
}
@media(min-width:900px) and (max-width:1199px){
    .snd-container,
    .trd-content,
    .slide{
        width:85%;
    }
    .snd-container{
        height:65vh;
    }
    .sev-content{
        justify-content: space-around;
    }
    .sev-master-box{
        width:50%;
    }
    .sev-map{
        width:50%;
    }
    .sev-master{
        margin:0 auto;
    }
    .footer-wrap{
        justify-content: space-around;
    }
}

//mobile
@media (min-width:300px) and (max-width:899px){
    .nav__link,
    .snd-container,
    .sth-wrap,
    .sev-wrap{
        display:none;
    }
    .snd-container-mobile{
        width:100%;
    }
    .mobile-title-box{
        position:relative;
    }
    .mobile-title{
        font-family:$poiret;
        font-size:42px;
        text-align:center;
        text-transform: uppercase;
        padding:30px;
        position:relative;
        z-index:10;
    }
    .mobile-title__pink-block{
        width:40px;
        height:60px;
        background: #f1d6dd;
        position:absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        z-index:1;
    }
    .mobile-subtitle{
        font-family:$poiret;
        font-size:24px;
        text-align:center;
        padding-bottom:10px;
        position:relative;
        top:-10px;
        &__amp{
            font-family:$sanslight;
            font-size:16px;
        }
    }
    .snd-mobile-photo{
        width:100%;
        height:auto;
    }
    .mobile-text{
        font-family:$sanslight;
        font-size:18px;
        text-indent: 40px;
        padding:30px 50px 70px;
        line-height:30px;
        text-align:justify;
    }
    .trd-content{
        width:90%;
        &__text{
            font-size:18px;
            position:relative;
            top:-10px;
        }
        &__subtitle{
            font-size:16px;
            right:60px;
        }
    }
    .frth-wrap{
        display:none;
    }
    
    .m-slider-photo-box{
        width:86%;
        max-height:480px;
        overflow:hidden;
        margin:20px auto;
        position:relative;
        z-index:2;
        &__photo{
            width:100%;
            height:auto;
        }
        &__title{
            width:100%;
            text-align:center;
            font-family:$poiret;
            font-size:42px;
            padding:20px;
            background:#f1d6dd;
            position:absolute;
            bottom:0;
            z-index:2;
        }
    }
    .m-slider-text{
        position:relative;
        z-index:2;
    }
    .m-slider-btn{
        width:250px;
        height:60px;
        background:#f1d6dd;
        display:flex;
        justify-content: center;
        align-items:center;
        margin:30px auto;
        font-family:$roboto;
        font-size:28px;
        text-transform: uppercase;
        position:relative;
        top:-50px;
        z-index:2;
        text-decoration:none;
        color:#000;
    }
    .m-slider-number{
        font-family:$poiret;
        font-size:160px;
        color:#bfd0d7;
        position:absolute;
        left:20px;
        bottom:125px;
        z-index:1;
        opacity:.4;
    }
    //popup
    .m-popup-box{
        position:fixed;
        top:20px;
        left:20px;
        right:20px;
        bottom:20px;
        padding-bottom:40px;
        background:#fff;
        overflow:scroll;
        overflow-x:hidden;
    }
    .m-popup-title{
        font-family:$poiret;
        font-size:52px;
        text-align:center;
        padding:40px 0;
    }
    .m-popup-photo{
        width:90%;
        display:block;
        height:auto;
        margin:20px auto;
    }
    .m-popup-description{
        width:90%;
        margin:0 auto;
        font-family:$sanslight;
        font-size:18px;
        line-height: 30px;
        text-align:justify;
        text-indent:40px;
        &_distance-top{
            margin-top:40px;
        }
        &_mark-bold{
            font-weight:700;
        }
    }
    .m-popup-list{
        width:90%;
        margin:5px auto;
        &__item{
            font-family:$sanslight;
            font-size:18px;
            line-height:30px;
            list-style-type:circle;
            margin-left:20px;
        }
    }


    
    .photo-section{
        width:90%;
        height:100%;
        margin-bottom:40px;
    }
    .content-section{
        width:90%;
        padding-left:0;
        text-align:justify;
    }
    .m-price-box{
        width:100%;
        padding:20px 0 40px;
        position:relative;
    }
    .m-price-photo{
        width:75%; 
        &__girl{
            width:100%;
            height:auto;
        }
    }
    .m-price-sidebar{
        width:25%;
        background:#bfd0d7;
        position:absolute;
        top:20px;
        right:0;
        bottom:43px;
    }
    .m-price-list{
        position:absolute;
        top:7%;
        right:0;
        width:50%;
    }
    .m-price-list-row{
        display:flex;
        justify-content: space-between;
        padding:5% 40px 0 0;
        &__td{
            font-family:$roboto;
            font-size:2.3vh;
            color:#fff;
            text-transform: uppercase;
            line-height: 30px;
            @media(min-width:600px) and (max-width:699px){
                font-size:2vh;
                line-height:25px;
            }
            &_padding-left{
                padding-left:20px;
            }
        }
    }
    .m-contact-box{
        width:100%;
    }
    .m-contact-container{
        width:50%;
        display:flex;
        justify-content: center;
        flex-direction:column;
        margin:50px auto;
    }
    .sev-master-box{
        width:100%;
    }
    .sev-master{
        margin:0 auto;
    }
    .m-contact-map{
        width:300px;
        height:500px;
        margin:50px auto;
        &__frame{
            width:100%;
            height:100%;
        }
    }
    .m-contact-adres{
        width:300px;
        height:50px;
        margin:0 auto;
        background:#f1d6dd;
        display:flex;
        justify-content: center;
        align-items:center;
        font-family:$roboto;
        font-size:24px;
        position:relative;
    }
    .m-contact-adres:before{
        content:'';
        display:block;
        width:300px;
        height:50px;
        position:absolute;
        top:7px;
        left:7px;
        z-index:-1;
        background:#f1d6dd;
        opacity:.7;
    }
    .footer-wrap{
        justify-content: space-around;
    }
    .footer-left-box__title{
        display:none;
    }
}

@media (min-width:900px){
    .snd-container-mobile,
    .frth-mobile,
    .sth-wrap-mobile,
    .sev-contacts-mobile{
        display:none;
    }
}

@media (min-width:300px) and (max-width:599px){
    .link{
        font-size:20px;
        position:relative;
        left:-20px;
    }
    .nav{
        height:85px;
    }
    .menu__list{
        overflow-x:hidden !important;
    }
    .fst-title-box-content{
        width:250px;
        height:250px;
    }
    .fst-title{
        padding:20px;
        font-size:60px;
    }
    .fst-subtitle{
        margin:0 0 0 -20px;
        &__item{
            font-size:22px;
        }
    }
    .adres-box,
    .adres-box-under{
        display:none;
    }
    .mobile-title{
        font-size:28px;
    }
    .mobile-text{
        font-size:16px;
        padding:30px 8px 70px;
        text-indent:10px;
    }
    .trd-content{
        display:none;
    }
    .mfp-close{
        z-index:100;
    }
    .m-slider-photo-box{
        width:96%;
        &__title{
            padding:4%;
            @media(min-width:400px) and (max-width:500px){
                font-size:4vh;
            }
            @media(min-width:300px) and (max-width:399px){
                font-size:3vh;
            }
        }
    }
    .m-slider-btn{
        font-size:22px;
    }
    .fth-wrap__link{
        font-size:3vh;
        @media(min-width:300px) and (max-width:399px){
            font-size:2.44vh;
        }
    }
    .m-price-photo{
        width:100%;
        &__girl{
            width:100%;
            height:330px;
            @media(min-width:300px) and (max-width:500px){
                height:250px;
            }
        }
    }
    .m-price-sidebar{
        width:100%;
        left:0;
        background:rgba(0,0,0,.5);
    }
    .m-price-list{
        width:100%;
        padding:0 20px;
    }
    .m-price-list-row{
        padding: 4% 0 0 0;
        &__td{
            line-height:25px;
        }
        @media(min-width:300px) and (max-width:400px){
            padding:4% 0 0 0 ;
        }
    }
    .m-contact-container{
        width:100%;
    }
    .m-contact-map{
        @media(min-width:300px) and (max-width:400px){
            height:400px;
        }
    }
    .footer-logo-box,
    .footer-left-box,
    .footer-right-box{
        display:none;
    }
    .footer-right-box__contacts{
        font-size:16px;
    }
    .footer-wrap{
        height:120px;
    }
    .m-popup-description{
        font-size:16px;
        text-indent:10px;
    }
}
@media (min-width:300px) and (max-width:400px){
    .m-popup-box:after{
        display:flex;
    }
    .m-popup-box{
        overflow:hidden;
    }
}









//mobile-nav
.link{
    font-family:$roboto;
    font-size:42px;
}
